// 色
$black : #433D3C;
$red : #D9333F;
$green :#2F5D50;
$white: #FDFDFD;
$gray:#F3F3F2;

// font-family-----------------------------------------------------
$font-ab : "ab-kirigirisu",sans-serif;
// font-weight: 400;
// font-style: normal;

// レギュラー
$font-tsuku-r : "fot-tsukuardgothic-std", sans-serif;
// font-weight: 400;
// font-style: normal;


// ボールド
$font-tsuku-b : "fot-tsukuardgothic-std", sans-serif;
// font-weight: 700;
// font-style: normal;